html, body {
  letter-spacing: normal;
  text-align: left;
  word-spacing: normal;
  font-family: Arial;
  color: #000000; 
  background-image: url("../imgs/BackgroundBleuC.gif");
}

.w3-top{
  filter:drop-shadow(5px 5px 15px rgba(0,0,0,0.5));
}

#colorramps .w3-bar-item{
  padding : 0 8px 0 8px; 
}